<style>
  @import url(https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css);
  @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
</style>

<div class="navbar-fixed">
  <nav class="blue accent-3">
    <div class="nav-wrapper">
      <!-- Filters issues based on search keywords -->
      <div class="left">
        <form>
          <div class="input-field">
            <input id="search" type="search" required>
            <label for="search"><i class="material-icons">search</i></label>
          </div>
        </form>
      </div>
      <!-- Link to github issues for Angular -->
      <a href="#!" class="brand-logo center">Angular Issues</a>
      <!-- Table selectors -->
      <ul class="right">
        <li *ng-if="github.isAuthenticated"><a href="#!"><i class="material-icons right">verified_user</i>{{ username }}</a></li>
        <li *ng-if="!github.isAuthenticated"><a (click)="github.authenticate()"><i class="material-icons right">perm_identity</i>Log in</a></li>
        <li [class.active]="activeTable == 'milestones'"><a (click)="setActive('milestones')">Milestones</a></li>
        <li [class.active]="activeTable == 'hotlist'"><a (click)="setActive('hotlist')">Hotlist</a></li>
        <li [class.active]="activeTable == 'backlog'"><a (click)="setActive('backlog')">Backlog</a></li>
        <li [class.active]="activeTable == 'triage'"><a (click)="setActive('triage')">Triage</a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- Glossary -->
<div class="container">
  <div class="collection">
    <table class="centered">
      <tbody>
        <!-- Issue states -->
        <tr>
          <td>
            <i class="material-icons">grade</i> Easy <i class="grey-text text-lighten-1">hour(s)</i>
          </td>
          <td>
            <i class="material-icons">grade</i>
            <i class="material-icons">grade</i> Medium <i class="grey-text text-lighten-1">day(s)</i>
          </td>
          <td>
            <i class="material-icons">grade</i>
            <i class="material-icons">grade</i>
            <i class="material-icons">grade</i> Hard <i class="grey-text text-lighten-1">week(s)</i>
          </td>
          <td>
            <i class="material-icons">lock</i> Blocked
          </td>
          <td>
            <i class="material-icons">thumb_up</i> LGTM
          </td>
          <td>
            <i class="material-icons">trending_up</i> PR
          </td>
        </tr>
        <!-- Issue types -->
        <tr>
          <td>
            <i class="material-icons">report_problem</i> Bug
          </td>
          <td>
            <i class="material-icons">assignment</i> Chore
          </td>
          <td>
            <i class="material-icons">info</i> Discussion
          </td>
          <td>
            <i class="material-icons">library_add</i> Feature
          </td>
          <td>
            <i class="material-icons">assessment</i> Performance
          </td>
          <td>
            <i class="material-icons">spellcheck</i> Refactor
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<milestones [class.hide]="activeTable != 'milestones'"></milestones>
<hotlist [class.hide]="activeTable != 'hotlist'"></hotlist>
<backlog [class.hide]="activeTable != 'backlog'"></backlog>
<triage [class.hide]="activeTable != 'triage'"></triage>
