<div class="container">
  <ul class="collection with-header">
    <li class="collection-header"><h4>{{ milestone.name }}</h4></li>
    <li *ng-for="#issue of issues" class="collection-item">
      <div class="row">
        <a href="{{ issue.url }}" class="col s1">{{ issue.id }}</a>
        <span *ng-if="issue.priority !== 'Unknown'" class="col s1">{{ issue.priority }}</span>
        <span *ng-if="issue.priority === 'Unknown'" class="col s1">--</span>
        <span class="col s6 truncate">{{ issue.name }}</span>
        <span *ng-if="issue.effort !== 'Unknown'" class="col s2">{{ issue.effort }}</span>
        <span *ng-if="issue.effort === 'Unknown'" class="col s2">--</span>
        <span *ng-if="issue.blocked !== 'no'" class="col s2">{{ issue.blocked }}</span>
        <span *ng-if="issue.blocked === 'no'" class="col s2">--</span>
      </div>
    </li>
  </ul>
</div>
