<style>
  @import url(https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css);
  @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
</style>

<h4 class="title center">Milestones</h4>
<table class="hoverable bordered centered responsive-table">
  <thead>
    <tr>
      <th>Assignees</th>
      <th>Developer</th>
      <th>Developer</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Release</td>
      <td>Issues</td>
      <td>Issues</td>
    </tr>
    <tr>
      <td>Release</td>
      <td>Issues</td>
      <td>Issues</td>
    </tr>
  </tbody>
</table>

