<style>
  @import url(https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css);
  @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
</style>

<h4 class="title center">Milestones</h4>
<ul class="collection with-header">
  
  <div *ng-for="#milestone of milestones"> <!-- one for every milestone -->
    <li class="collection-header"><h5>{{ milestone.title }}</h5></li>
    <li class="collection-item">
      <table class="center">
        <tbody>
          <tr>
            
            <td *ng-for="#assignee of assignees"> <!-- one for every assignee -->
              <table class="bordered" [class.hoverable]="hasIssue(milestone, assignee)">
                <thead>
                  <tr>
                    <th>
                      <a href="https://github.com/angular/angular/issues?q=is%3Aopen+assignee%3A{{ assignee.login }}">
                        <img width="60" height="60" [src]="assignee.avatar_url" title="{{ assignee.login }}" />
                      </a>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ng-for="#issue of issues[milestone.title][assignee.login]">  <!-- one for every issue -->
                    <td>
                      <a *ng-if="issue" [href]="issue.html_url">
                        <div [ng-switch]="issue.priority">
                          <span template="ng-switch-when 0" class="red-text text-accent-3">P0: {{ issue.number }}</span>
                          <span template="ng-switch-when 1" class="red-text">P1: {{ issue.number }}</span>
                          <span template="ng-switch-when 2" class="orange-text">P2: {{ issue.number }}</span>
                          <span template="ng-switch-when 3" class="amber-text">P3: {{ issue.number }}</span>
                          <span template="ng-switch-when 4" class="yellow-text">P4: {{ issue.number }}</span>
                          <span template="ng-switch-default">NP: {{ issue.number }}</span>
                        </div>
                      </a>
                      <a *ng-if="!issue">&nbsp;</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            
          </tr>
        </tbody>
      </table>
    </li>
  </div>
  
</ul>
